.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }